<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1>Movie Ticket Booking</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Release Date</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i < movies.length; i++) { %>
            <tr>
                <td><%= movies[i].title %></td>
                <td><%= movies[i].director %></td>
                <td><%= movies[i].releaseDate %></td>
                <td>
                    <a href="/movie/<%= movies[i].id %>">Details</a>
                    <a href="/booking/<%= movies[i].id %>">Book Tickets</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/add_movie">Add New Movie</a>
</body>
</html>
